// @import url('https://fonts.googleapis.com/css2?family=Comforter&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@font-face {
    font-family: "Lato Regular";
    src: url("~@/assets/fonts/Lato/Lato-Regular.ttf") format("truetype"); 
    font-style: normal;
    font-weight: 400;
}
@font-face {
  font-family: "Lato Medium";
  src: url("~@/assets/fonts/Lato/Lato-Medium.ttf") format("truetype"); 
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Lato Bold";
  src: url("~@/assets/fonts/Lato/Lato-Bold.ttf") format("truetype"); 
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Lato Black";
  src: url("~@/assets/fonts/Lato/Lato-Black.ttf") format("truetype"); 
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Playfair Display";
  src: url("~@/assets/fonts/Playfair/PlayfairDisplay-VariableFont_wght.ttf") format("truetype"); 
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Comforter";
  src: url("~@/assets/fonts/Comforter/Comforter-Regular.ttf") format("truetype"); 
  font-style: normal;
  font-weight: 400;
}
